*{
    margin: 0%;
    padding: 2%;
    box-sizing: border-box;
}

.main-title{
    text-align: center;
}

/* h2{
    margin-top: 2%;
    margin-left: 8%;
}

p strong {
    font-weight: bold;
    margin-left: 7%;
}

.parrafo2{
    margin-left: 0%;
} */
